main {
  background-color: rgba(2, 12, 22, 1);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 1%;
  color: white;
  .content {
    margin-right: 10%;
    margin-left: 10%;
  }
}
h2 {
  text-align: center;
  padding-top: 10px;
}
.status {
  color: #f41ec2;
  position: relative;
}
.web {
  position: absolute;
  margin-left: 5px;
  animation: blink 5s ease-in-out forwards;
}
.web2 {
  animation: opacityAnimation 2s linear 5s forwards;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
  10% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
  15% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
  20% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
  25% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
  30% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  35% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  40% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  45% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  50% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  55% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  60% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  65% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(0px) translateY(0px)
  }
  69% {
    opacity: 1;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  70% {
    opacity: 1;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  75% {
    opacity: 0;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  80% {
    opacity: 1;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  85% {
    opacity: 0;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  90% {
    opacity: 1;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  95% {
    opacity:0;
    transform: rotateZ(25deg) translateX(5px) translateY(5px);
  }
  99% {
    opacity:1;
    transform: rotateZ(45deg) translateX(10px) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: rotateZ(45deg) translateX(10px) translateY(10px);
  }
}
@keyframes opacityAnimation {
  0% {
    opacity: 1; 
  }
  5% {
    opacity: 0; 
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1; 
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}

