main {
  background-color: rgba(2, 12, 22,1);
  width: 60%;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  padding-bottom: 1%;
  color: white;
  .content{
    
    margin-right: 10%;
    margin-left: 10%;
  }
}
h2 {
  text-align: center;
  padding-top:10px
}
@media screen and (max-width: 730px) {
main{ width: 80%;}
}
