.swiper {
  width: 100%;
  /* min-height: 75.75px; */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #020c16;

  max-width: clamp(100px,150px,200px);
 
  /* height: 250px; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}
.swiper-slide img {
  /* display: block; */
  display: flex;
  width: 100%;

}
.swiper-pagination {
position: relative;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet {
  background-color: white;
}
